
  .subscribe{
    background-color:red;
    color:white;
    border-radius:10px;
    border: 2px lightgreen solid;
    border-style: solid;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
    margin-right: 10px;

  }
  .youtube{
    background-color:lightblack;
    border-style: solid;
    border-color: aqua;
    border-radius: 20px;
    colour : white;
    border-width: 1px;
    width:400px;
    cursor: pointer;
    margin-right: 10px;
    transition: box-shadow 2s; /* for smooth transition*/
    padding-bottom: fit-content;

  }
  .youtube:hover{
    box-shadow: 5px 5px 10px gray; /* for shadow effect*/
  }
  .Tweet{
    background-color: rgb(13, 98, 246);
    color: white;
    border-style: solid;
    border-color: blue;
    border:none;
    border-radius: 20px;
    colour : white;
    height:36px;
    width: 74px;
    font-weight: bold;
    font-size: 15px; /* for font size: ;*/
    cursor:pointer; /*for pointer cursor*/
    margin-left: 10px;
    transition: 1s;  
    padding-left:12px;
    padding-right:12px;
    /*for smooth transition*/

  }
  .subscribe:hover{
    background-color: lightgreen;
    color: black;
  }
  .subscribe:active{
   background-color: lightblue;
   color: black; 
  }
.tweet:hover{
  opacity: 0.5; /*  for fading effect*/
  }

