
            .video-preview{
                width:fit-content;
                display:inline-block;
                vertical-align:top;
                border-color: whitesmoke;
                border-style: solid;
                border-width: 0.8px;
            }
            .thumbnail-row{
                position: relative;
            }

            .thumbnail{
                width:97%;
                height: 220px;
                display:inline-block;
                object-fit:cover;
                height: fit-content;
            }

            .video-info-grid{
                display:grid;
                grid-template-columns:50px 1fr;
                margin-top:10px;
                
            }

            .profile-picture{
                width:40px;
                height:34px;
                border-radius:70%;
        
            }

            .video-info{
                margin-left:10px;
            }

            .title{
                display:flexbox;
                flex:1;
                font-size:15px;
                font-weight:500;
                margin-top:0;
                margin-left:5px ;
                margin-bottom:4px;
                line-height:22px;
                
            }

            .channel{
                color:gray;
                margin-top:0;
                margin-bottom:4px;
                margin-left:5px ;
            }
            .views{
                color:gray;
                margin-top:0;
                margin-bottom:0px ;
                margin-left:5px ;
            }
            .video-frame-container{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap:30px;
                row-gap:40px;
                width: fit-content;

            }
            @media (max-width:750px){
                .video-frame-container{
                    grid-template-columns: 1fr 1fr;
                }
            }
            @media(min-width:751px) and (max-width:999px){
                  .video-frame-container{
                    grid-template-columns: 1fr 1fr 1fr ;
                }

            }

          /*  @media (min-width:1000px){
                .video-frame-container{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            } */
        .video-time{
        position: absolute;
        bottom: 8px;
        right: 8px;

        background-color: black;
        color: white;

        font-family: Roboto, Arial;
        font-size: 12px;
        font-weight: 500;

        padding: 4px 6px;
        border-radius: 2px;
    }

